# Import Data (csv file)

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

df = pd.read_csv("craigslistVehiclesFull.csv", encoding='latin-1')

C:\Users\danie\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Inspect Data

In [2]:
df.head()

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
0,https://marshall.craigslist.org/cto/d/2010-dod...,marshall,11900,2010,dodge,challenger se,good,6 cylinders,gas,43600.0,clean,automatic,NaN,rwd,NaN,coupe,red,https://images.craigslist.org/00i0i_2ggH1eKDNK...,43.4775,-96.7041,46083.0,Lincoln,46.0,SD,South Dakota,38.0
1,https://marshall.craigslist.org/cto/d/fleetwoo...,marshall,1515,1999,NaN,fleetwood,NaN,NaN,gas,NaN,clean,other,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00M0M_irjh7SjEcU...,44.7612,-96.6907,46039.0,Deuel,46.0,SD,South Dakota,38.0
2,https://marshall.craigslist.org/cto/d/2008-for...,marshall,17550,2008,ford,f-150,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00s0s_eL2XFhEUcx...,44.1415,-103.2052,46093.0,Meade,46.0,SD,South Dakota,38.0
3,https://marshall.craigslist.org/cto/d/ford-tau...,marshall,2800,2004,ford,taurus,good,6 cylinders,gas,168591.0,clean,automatic,1FAFP55UO4G113464,fwd,full-size,sedan,grey,https://images.craigslist.org/00L0L_5HUR1nQjt8...,43.2845,-95.5930,19143.0,Osceola,19.0,IA,Iowa,47.0
4,https://marshall.craigslist.org/cto/d/2001-gra...,marshall,400,2001,NaN,2001 Grand Prix,NaN,NaN,gas,217000.0,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00n0n_bJJ1XnonSG...,43.0261,-94.4064,19109.0,Kossuth,19.0,IA,Iowa,47.0

In [3]:
df.tail()

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
1049195,https://topeka.craigslist.org/ctd/d/2006-chevr...,topeka,7995,2006,chevrolet,silverado 2500 hd crew,NaN,NaN,gas,NaN,clean,automatic,1GCHC23U06F138406,NaN,NaN,NaN,NaN,https://images.craigslist.org/00A0A_l1r21OrSdJ...,38.6419,-94.3285,29037.0,Cass/Van Buren,29.0,MO,Missouri,52.0
1049196,https://westky.craigslist.org/cto/d/2008-acura...,westky,10900,2008,acura,tl,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00606_hGCTgk1rVL...,37.3879,-89.6519,29031.0,Cape Girardeau,29.0,MO,Missouri,52.0
1049197,https://jacksonville.craigslist.org/cto/d/dump...,jacksonville,40000,2006,ford,sterling,excellent,other,diesel,350000.0,clean,manual,NaN,NaN,full-size,truck,red,https://images.craigslist.org/00f0f_gohYgKDsQZ...,38.7071,-90.3055,29189.0,St. Louis,29.0,MO,Missouri,52.0
1049198,https://quadcities.craigslist.org/ctd/d/sweet-...,quadcities,6995,2007,ram,1500,NaN,NaN,gas,197936.0,clean,manual,1D7HU18227S220778,NaN,NaN,NaN,NaN,https://images.craigslist.org/00k0k_6qBvHCzjn2...,38.9482,-90.9138,29113.0,Lincoln,29.0,MO,Missouri,52.0
1049199,https://quadcities.craigslist.org/cto/d/04-gmc...,quadcities,12345,2004,gmc,canyon yz450,NaN,5 cylinders,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00y0y_g0Nj6JXaie...,40.4619,-92.1851,29199.0,Scotland,29.0,MO,Missouri,52.0

In [4]:
df.columns

Index(['url', 'city', 'price', 'year', 'manufacturer', 'make', 'condition',
       'cylinders', 'fuel', 'odometer', 'title_status', 'transmission', 'vin',
       'drive', 'size', 'type', 'paint_color', 'image_url', 'lat', 'long',
       'county_fips', 'county_name', 'state_fips', 'state_code', 'state_name',
       'weather'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049200 entries, 0 to 1049199
Data columns (total 26 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   url           1049199 non-null  object
 1   city          1048559 non-null  object
 2   price         1048535 non-null  object
 3   year          1047014 non-null  object
 4   manufacturer  964568 non-null   object
 5   make          1005318 non-null  object
 6   condition     615062 non-null   object
 7   cylinders     621193 non-null   object
 8   fuel          1042054 non-null  object
 9   odometer      705601 non-null   float64
 10  title_status  1046971 non-null  object
 11  transmission  1042699 non-null  object
 12  vin           367156 non-null   object
 13  drive         645697 non-null   object
 14  size          358029 non-null   object
 15  type          614919 non-null   object
 16  paint_color   617962 non-null   object
 17  image_url     1048519 non-null  object
 18  lat           1048519 non-null  float64
 19  long          1048519 non-null  float64
 20  county_fips   990178 non-null   float64
 21  county_name   990178 non-null   object
 22  state_fips    990178 non-null   float64
 23  state_code    990178 non-null   object
 24  state_name    1048519 non-null  object
 25  weather       989582 non-null   float64
dtypes: float64(6), object(20)
memory usage: 208.1+ MB

In [6]:
df.describe()

,odometer,lat,long,county_fips,state_fips,weather
count,7.056010e+05,1.048519e+06,1.048519e+06,990178.000000,990178.000000,989582.000000
mean,1.138255e+05,3.967305e+01,-9.609864e+01,24775.443619,24.704956,53.022543
std,1.316380e+05,5.692429e+00,1.860790e+01,15579.137290,15.569437,7.605096
min,0.000000e+00,-8.481005e+01,-1.000000e+03,1001.000000,1.000000,29.000000
25%,5.800000e+04,3.551126e+01,-1.171445e+02,8005.000000,8.000000,48.000000
50%,1.070260e+05,3.990460e+01,-9.041660e+01,26055.000000,26.000000,52.000000
75%,1.530000e+05,4.267304e+01,-8.154935e+01,39151.000000,39.000000,59.000000
max,1.000000e+07,9.000000e+01,1.397061e+02,56045.000000,56.000000,79.000000

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048636 entries, 0 to 1049199
Data columns (total 26 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   url           1048635 non-null  object
 1   city          1048559 non-null  object
 2   price         1048535 non-null  object
 3   year          1047014 non-null  object
 4   manufacturer  964568 non-null   object
 5   make          1005318 non-null  object
 6   condition     615062 non-null   object
 7   cylinders     621193 non-null   object
 8   fuel          1042054 non-null  object
 9   odometer      705601 non-null   float64
 10  title_status  1046971 non-null  object
 11  transmission  1042699 non-null  object
 12  vin           367156 non-null   object
 13  drive         645697 non-null   object
 14  size          358029 non-null   object
 15  type          614919 non-null   object
 16  paint_color   617962 non-null   object
 17  image_url     1048519 non-null  object
 18  lat           1048519 non-null  float64
 19  long          1048519 non-null  float64
 20  county_fips   990178 non-null   float64
 21  county_name   990178 non-null   object
 22  state_fips    990178 non-null   float64
 23  state_code    990178 non-null   object
 24  state_name    1048519 non-null  object
 25  weather       989582 non-null   float64
dtypes: float64(6), object(20)
memory usage: 216.0+ MB

In [9]:
df.describe()

,odometer,lat,long,county_fips,state_fips,weather
count,7.056010e+05,1.048519e+06,1.048519e+06,990178.000000,990178.000000,989582.000000
mean,1.138255e+05,3.967305e+01,-9.609864e+01,24775.443619,24.704956,53.022543
std,1.316380e+05,5.692429e+00,1.860790e+01,15579.137290,15.569437,7.605096
min,0.000000e+00,-8.481005e+01,-1.000000e+03,1001.000000,1.000000,29.000000
25%,5.800000e+04,3.551126e+01,-1.171445e+02,8005.000000,8.000000,48.000000
50%,1.070260e+05,3.990460e+01,-9.041660e+01,26055.000000,26.000000,52.000000
75%,1.530000e+05,4.267304e+01,-8.154935e+01,39151.000000,39.000000,59.000000
max,1.000000e+07,9.000000e+01,1.397061e+02,56045.000000,56.000000,79.000000

There seem too many NaN in the data set.  So let's figure out how much NaN
occupies in individual columns.

In [10]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

size            65.857647
vin             64.987279
type            41.360110
condition       41.346473
paint_color     41.069923
cylinders       40.761809
drive           38.425059
odometer        32.712495
manufacturer     8.016891
weather          5.631506
county_fips      5.574670
county_name      5.574670
state_fips       5.574670
state_code       5.574670
make             4.130890
fuel             0.627673
transmission     0.566164
title_status     0.158778
year             0.154677
image_url        0.011157
lat              0.011157
long             0.011157
state_name       0.011157
price            0.009632
city             0.007343
url              0.000095
dtype: float64

Let's drop rows with 'price' whose value is null.

In [11]:
df.drop(df[df['price'].isnull()].index, inplace=True)

In [12]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

size            65.854359
vin             64.983906
type            41.354461
condition       41.340823
paint_color     41.064247
cylinders       40.756103
drive           38.419128
odometer        32.706014
manufacturer     8.008030
weather          5.622416
county_fips      5.565575
county_name      5.565575
state_fips       5.565575
state_code       5.565575
make             4.121655
fuel             0.618100
transmission     0.556586
title_status     0.149160
year             0.145060
image_url        0.001526
lat              0.001526
long             0.001526
state_name       0.001526
price            0.000000
city             0.000000
url              0.000000
dtype: float64

Let's drop rows with 'lat' whose value is null because null value of either 'lat' or 'long' cannot give you correlatable geographical information.

In [13]:
df.drop(df[df['lat'].isnull()].index, inplace=True)

In [14]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

size            65.853838
vin             64.983372
type            41.353566
condition       41.340023
paint_color     41.063347
cylinders       40.755199
drive           38.418188
odometer        32.704987
manufacturer     8.006913
weather          5.620976
county_fips      5.564134
county_name      5.564134
state_fips       5.564134
state_code       5.564134
make             4.120383
fuel             0.616584
transmission     0.555069
title_status     0.147637
year             0.143917
image_url        0.000000
lat              0.000000
long             0.000000
state_name       0.000000
price            0.000000
city             0.000000
url              0.000000
dtype: float64

Let's look into rows whose 'year' is null.

In [15]:
df[df['year'].isnull()]

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
1652,https://galveston.craigslist.org/cto/d/2014-ni...,galveston,2900,NaN,NaN,soacrizcd,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00M0M_jkpAqq0f3A...,29.395588,-94.936825,48167.0,Galveston,48.0,TX,Texas,67.0
7092,https://saltlakecity.craigslist.org/cto/d/2014...,saltlakecity,2900,NaN,NaN,pcrqno,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00j0j_kNH7SuxV2u...,42.712053,-111.620163,16029.0,Caribou,16.0,ID,Idaho,47.0
8555,https://memphis.craigslist.org/ctd/d/2018-toyo...,memphis,21842,NaN,NaN,a Camry,NaN,4 cylinders,gas,11312.0,clean,automatic,JTNB11HK6J3001862,fwd,NaN,sedan,white,https://images.craigslist.org/00i0i_cMyXBfkKdq...,35.186081,-89.794496,47157.0,Shelby,47.0,TN,Tennessee,59.0
8641,https://memphis.craigslist.org/ctd/d/2018-toyo...,memphis,21980,NaN,NaN,a RAV4,NaN,4 cylinders,gas,40810.0,clean,automatic,2T3WFREV4JW405860,fwd,NaN,SUV,grey,https://images.craigslist.org/00H0H_jegqUW8uIS...,35.186081,-89.794496,47157.0,Shelby,47.0,TN,Tennessee,59.0
12831,https://elko.craigslist.org/ctd/d/2018-nissan-...,elko,60900,NaN,NaN,n Titan XD,NaN,8 cylinders,diesel,354.0,clean,automatic,1N6BA1F46JN521781,4wd,NaN,pickup,black,https://images.craigslist.org/01313_a9b4VDVItM...,40.362248,-111.785947,49049.0,Utah,49.0,UT,Utah,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987780,https://minneapolis.craigslist.org/hnp/ctd/d/2...,minneapolis,29498,NaN,NaN,Clarity Plug-In Hybrid,NaN,4 cylinders,gas,2698.0,clean,automatic,JHMZC5F14JC008709,fwd,NaN,sedan,white,https://images.craigslist.org/00S0S_8Pp7R5N00D...,44.863287,-93.285342,27053.0,Hennepin,27.0,MN,Minnesota,43.0
994185,https://myrtlebeach.craigslist.org/cto/d/impal...,myrtlebeach,2900,NaN,NaN,ymmefqxhn,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00B0B_icXTx8yDAK...,33.803125,-78.837776,45051.0,Horry,45.0,SC,South Carolina,60.0
997789,https://asheville.craigslist.org/cto/d/2010-fo...,asheville,12500,NaN,ford,f150,excellent,8 cylinders,gas,99000.0,rebuilt,automatic,NaN,rwd,NaN,pickup,red,https://images.craigslist.org/00H0H_hLRfMrTPKO...,34.776458,-82.391206,45045.0,Greenville,45.0,SC,South Carolina,60.0
997790,https://asheville.craigslist.org/cto/d/2008-fo...,asheville,8300,NaN,ford,ranger xlt,NaN,6 cylinders,gas,121455.0,clean,automatic,NaN,4wd,mid-size,truck,white,https://images.craigslist.org/00r0r_6FYgE8j05R...,34.757900,-82.044700,45083.0,Spartanburg,45.0,SC,South Carolina,60.0
1009673,https://columbia.craigslist.org/cto/d/2009-hon...,columbia,2900,NaN,NaN,sjphygdhbtq,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00B0B_icXTx8yDAK...,33.996344,-81.100412,45063.0,Lexington,45.0,SC,South Carolina,60.0

Drop rows whose 'year' value is null in that it is not possible to find correlation between 'price' and 'unidentified year of use', which is null value in year.

In [16]:
df.drop(df[df['year'].isnull()].index, inplace=True)

In [17]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

size            65.833660
vin             65.002149
type            41.363597
condition       41.311162
paint_color     41.070286
cylinders       40.759592
drive           38.422174
odometer        32.708952
manufacturer     7.973276
weather          5.628695
county_fips      5.571771
county_name      5.571771
state_fips       5.571771
state_code       5.571771
make             4.120878
fuel             0.607253
transmission     0.555487
title_status     0.147563
image_url        0.000000
lat              0.000000
long             0.000000
state_name       0.000000
year             0.000000
price            0.000000
city             0.000000
url              0.000000
dtype: float64

Let's look into 'title_status' by value_counts().

In [18]:
df['title_status'].value_counts()

clean         971924
rebuilt        27973
salvage        22992
lien           12384
missing         7103
parts only      3089
Name: title_status, dtype: int64

Now let's take a look at rows whose 'title_status' value is null.

In [19]:
df[df['title_status'].isnull()]

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
711,https://ogden.craigslist.org/ctd/d/1998-volksw...,ogden,3199,1998,volkswagen,gti,NaN,NaN,NaN,129718.0,NaN,automatic,3VWDA81H2WM219546,NaN,NaN,hatchback,yellow,https://images.craigslist.org/00808_2ImZMc17NN...,43.618808,-116.307269,16001.0,Ada,16.0,ID,Idaho,47.0
712,https://ogden.craigslist.org/ctd/d/2013-toyota...,ogden,20399,2013,toyota,tacoma,NaN,NaN,NaN,52992.0,NaN,automatic,3TMJU4GN9DM148846,NaN,NaN,NaN,NaN,https://images.craigslist.org/00808_2XBEsB5t2F...,43.618808,-116.307269,16001.0,Ada,16.0,ID,Idaho,47.0
713,https://ogden.craigslist.org/ctd/d/2008-toyota...,ogden,13222,2008,toyota,tacoma,NaN,NaN,NaN,140879.0,NaN,manual,5TEUX42N68Z500012,NaN,NaN,NaN,silver,https://images.craigslist.org/01515_aH1Ax3xNny...,43.618808,-116.307269,16001.0,Ada,16.0,ID,Idaho,47.0
714,https://ogden.craigslist.org/ctd/d/2004-toyota...,ogden,5935,2004,toyota,prius,NaN,NaN,NaN,144741.0,NaN,other,JTDKB20U140078987,NaN,NaN,sedan,NaN,https://images.craigslist.org/01414_g2F53ObEcr...,43.618808,-116.307269,16001.0,Ada,16.0,ID,Idaho,47.0
715,https://ogden.craigslist.org/ctd/d/2007-toyota...,ogden,6841,2007,toyota,camry,NaN,NaN,NaN,141026.0,NaN,automatic,4T1BE46KX7U514026,NaN,NaN,sedan,white,https://images.craigslist.org/01515_cLa189rIx6...,43.618808,-116.307269,16001.0,Ada,16.0,ID,Idaho,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045394,https://semo.craigslist.org/ctd/d/2014-chevrol...,semo,6900,2014,chevrolet,malibu 2lt 6-speed automatic,NaN,NaN,NaN,132000.0,NaN,automatic,1G11E5SL9EF202049,fwd,NaN,sedan,NaN,https://images.craigslist.org/00G0G_cW6uE5uofp...,36.803618,-89.947992,29207.0,Stoddard,29.0,MO,Missouri,52.0
1045487,https://semo.craigslist.org/ctd/d/2011-nissan-...,semo,8400,2011,nissan,pathfinder,NaN,NaN,NaN,155000.0,NaN,NaN,5N1AR1NB6BC619094,NaN,NaN,NaN,NaN,https://images.craigslist.org/01010_hmfyzv5eeP...,36.803618,-89.947992,29207.0,Stoddard,29.0,MO,Missouri,52.0
1045488,https://semo.craigslist.org/ctd/d/1994-ford-mu...,semo,2600,1994,ford,mustang,NaN,NaN,NaN,103000.0,NaN,automatic,1FALP4442RF143397,NaN,NaN,NaN,NaN,https://images.craigslist.org/00z0z_cq55h65fNm...,36.803618,-89.947992,29207.0,Stoddard,29.0,MO,Missouri,52.0
1045508,https://semo.craigslist.org/ctd/d/2008-ford-fo...,semo,3600,2008,ford,focus,NaN,NaN,gas,92057.0,NaN,manual,1FAHP34N88W273112,fwd,NaN,NaN,NaN,https://images.craigslist.org/00909_k9GKIpl66y...,36.803618,-89.947992,29207.0,Stoddard,29.0,MO,Missouri,52.0
1045652,https://semo.craigslist.org/ctd/d/1994-ford-mu...,semo,2600,1994,ford,mustang,NaN,NaN,NaN,103000.0,NaN,automatic,1FALP4442RF143397,NaN,NaN,NaN,NaN,https://images.craigslist.org/00z0z_cq55h65fNm...,36.803618,-89.947992,29207.0,Stoddard,29.0,MO,Missouri,52.0

Let's compare 'make' between two groups in 'title_status': notnull vs. isnull

In [20]:
df['make'][df['title_status'].notnull()].value_counts()

1500                       13871
f-150                      12992
silverado 1500              8658
2500                        8065
silverado                   7976
                           ...
eveo                           1
chyrlser 300 Touring           1
civic si 6 speed manual        1
laserne                        1
cooper s r56 base              1
Name: make, Length: 75522, dtype: int64

In [21]:
df['make'][df['title_status'].isnull()].value_counts()

corolla                   16
civic                     15
focus                     13
accord                    13
impreza                   12
                          ..
fastback type 3            1
protege 5                  1
hyudai elantra touring     1
5 2009                     1
es 350                     1
Name: make, Length: 725, dtype: int64

As seen above, top 'makes' of isnull in 'title_status' seem small sedan or Japanese brands unlike top 'makes' of notnull in 'title_status'.

Let's compare 'manufacturer' between two groups in 'title_status': notnull vs. isnull

In [22]:
(df['manufacturer'][df['title_status'].notnull()].value_counts()/len(df['manufacturer'][df['title_status'].notnull()])).astype(float)*100

ford               16.862927
chevrolet          12.683734
toyota              6.828827
honda               5.282434
nissan              4.430564
dodge               4.402443
jeep                4.388000
gmc                 4.172115
ram                 3.315176
bmw                 2.565270
chevy               2.353498
volkswagen          2.003223
subaru              1.839660
hyundai             1.810295
chrysler            1.761322
mercedes-benz       1.472264
cadillac            1.447012
kia                 1.401482
mazda               1.366952
buick               1.325726
pontiac             1.287752
lexus               1.178040
acura               1.099989
audi                0.928486
lincoln             0.737758
infiniti            0.671758
volvo               0.667550
mitsubishi          0.613890
mercury             0.587107
saturn              0.537273
mercedes            0.415987
mini                0.391309
rover               0.344823
vw                  0.267823
jaguar              0.248406
fiat                0.117460
chev                0.049356
datsun              0.039121
harley-davidson     0.033669
infinity            0.029461
ferrari             0.016356
harley              0.013869
alfa-romeo          0.008704
porche              0.006217
alfa                0.004878
land rover          0.003539
aston-martin        0.003348
aston               0.003348
landrover           0.001626
morgan              0.000765
mercedesbenz        0.000383
noble               0.000191
hennessey           0.000096
Name: manufacturer, dtype: float64

In [23]:
(df['manufacturer'][df['title_status'].isnull()].value_counts()/len(df['manufacturer'][df['title_status'].isnull()])).astype(float)*100

ford             10.161812
honda             9.126214
toyota            9.126214
chevrolet         7.702265
nissan            6.343042
mazda             4.854369
hyundai           4.789644
dodge             4.012945
subaru            3.754045
bmw               3.495146
volkswagen        3.495146
kia               2.977346
jeep              2.653722
mercedes-benz     2.394822
chrysler          2.006472
pontiac           1.941748
infiniti          1.618123
acura             1.553398
gmc               1.423948
lexus             1.359223
audi              1.229773
mitsubishi        1.100324
mercedes          1.035599
mercury           0.841424
ram               0.841424
volvo             0.841424
cadillac          0.647249
buick             0.582524
mini              0.517799
jaguar            0.453074
fiat              0.388350
saturn            0.323625
rover             0.323625
lincoln           0.258900
vw                0.194175
Name: manufacturer, dtype: float64

As seen above, there seems no obvious correlation with notnull and isnull of 'title_status' regarding 'make' and 'manufacturer'.

Let's compare 'type' between two groups in 'title_status': notnull vs. isnull

In [24]:
(df['type'][df['title_status'].notnull()].value_counts()/len(df['type'][df['title_status'].notnull()])).astype(float)*100

sedan          15.377464
SUV            14.046286
truck           7.513307
pickup          7.161694
coupe           4.200332
hatchback       2.254882
convertible     1.785043
wagon           1.595271
van             1.466429
mini-van        1.448829
other           1.429890
offroad         0.308953
bus             0.114399
Name: type, dtype: float64

In [25]:
(df['type'][df['title_status'].isnull()].value_counts()/len(df['type'][df['title_status'].isnull()])).astype(float)*100

sedan          5.177994
SUV            3.948220
pickup         1.941748
van            0.711974
coupe          0.711974
hatchback      0.582524
wagon          0.388350
convertible    0.194175
mini-van       0.064725
Name: type, dtype: float64

Let's leave rows with null value in 'title_status' in that null value of 'title_status' can be ignorable.

Let's look into 'trasmission' by value_counts().

In [26]:
df['transmission'].value_counts()

automatic    892959
manual       125469
other         22766
Name: transmission, dtype: int64

Now let's take a look at rows whose 'transmission' value is null.

In [27]:
df[df['transmission'].isnull()]

,url,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
7,https://marshall.craigslist.org/ctd/d/2008-bmw...,marshall,3900,2008,bmw,3 series,NaN,NaN,gas,0.0,clean,NaN,WBAVA37508NL47474,NaN,NaN,NaN,NaN,https://images.craigslist.org/00202_8ciATrWst3...,41.622572,-87.632656,17031.0,Cook,17.0,IL,Illinois,48.0
2079,https://buffalo.craigslist.org/ctd/d/2008-bmw-...,buffalo,8995,2008,bmw,328xi,NaN,NaN,gas,91340.0,clean,NaN,WBAVC93508KZ72509,NaN,compact,sedan,black,https://images.craigslist.org/01313_blKOGJyXhB...,42.863917,-78.754393,36029.0,Erie,36.0,NY,New York,53.0
2264,https://providence.craigslist.org/ctd/d/2012-f...,providence,6995,2012,ford,fiesta,NaN,NaN,other,73002.0,clean,NaN,3FADP4FJXCM183774,NaN,sub-compact,hatchback,black,https://images.craigslist.org/00p0p_1E1CnNRAjU...,41.868090,-71.509330,44007.0,Providence,44.0,RI,Rhode Island,49.0
2402,https://providence.craigslist.org/ctd/d/2006-f...,providence,32990,2006,ford,f-550,NaN,NaN,diesel,103939.0,clean,NaN,1FDAF57P66ED20417,4wd,full-size,other,white,https://images.craigslist.org/00000_eHkL6uPf3G...,42.834977,-71.107791,33015.0,Rockingham,33.0,NH,New Hampshire,43.0
2474,https://daytona.craigslist.org/ctd/d/2012-merc...,daytona,21995,2012,mercedes-benz,e-class,NaN,NaN,gas,NaN,clean,NaN,WDDHF8JB6CA552543,NaN,NaN,sedan,black,https://images.craigslist.org/00g0g_bQb8OB23qW...,28.424030,-81.404090,12095.0,Orange,12.0,FL,Florida,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048900,https://topeka.craigslist.org/ctd/d/2015-gmc-y...,topeka,38995,2015,gmc,yukon,NaN,NaN,NaN,71080.0,clean,NaN,1GKS2CKJXFR174578,NaN,NaN,NaN,NaN,https://images.craigslist.org/00z0z_2z0Jj7eIQL...,38.641900,-94.328500,29037.0,Cass/Van Buren,29.0,MO,Missouri,52.0
1048906,https://topeka.craigslist.org/ctd/d/2013-ford-...,topeka,38995,2013,ford,f350 super duty crew cab,NaN,NaN,NaN,98741.0,clean,NaN,1FT8W3DT0DEB13074,NaN,NaN,NaN,NaN,https://images.craigslist.org/00c0c_9Pwfu3Xd0R...,38.641900,-94.328500,29037.0,Cass/Van Buren,29.0,MO,Missouri,52.0
1048907,https://topeka.craigslist.org/ctd/d/2015-ford-...,topeka,22861,2015,ford,explorer,NaN,NaN,NaN,91340.0,clean,NaN,1FM5K8F86FGA95669,NaN,NaN,NaN,NaN,https://images.craigslist.org/00B0B_7WFdpNNUMx...,38.641900,-94.328500,29037.0,Cass/Van Buren,29.0,MO,Missouri,52.0
1048908,https://topeka.craigslist.org/ctd/d/2013-dodge...,topeka,23335,2013,dodge,durango,NaN,NaN,NaN,88117.0,clean,NaN,1C4SDJCT9DC559544,NaN,NaN,NaN,NaN,https://images.craigslist.org/00w0w_iH2JMTzlGe...,38.641900,-94.328500,29037.0,Cass/Van Buren,29.0,MO,Missouri,52.0
1048916,https://topeka.craigslist.org/ctd/d/2014-infin...,topeka,31883,2014,infiniti,qx80,NaN,NaN,NaN,91964.0,clean,NaN,JN8AZ2NE2E9063120,NaN,NaN,NaN,NaN,https://images.craigslist.org/00404_62V1mFvNhw...,38.641900,-94.328500,29037.0,Cass/Van Buren,29.0,MO,Missouri,52.0

Let's compare 'make' between two groups in 'transmission': notnull vs. isnull

In [28]:
df['make'][df['transmission'].notnull()].value_counts()

1500                   13850
f-150                  12902
silverado 1500          8661
2500                    8055
silverado               7872
                       ...
sierra sle z71 1500        1
1968 Mustang               1
03 pt cruiser              1
t-37                       1
International D200         1
Name: make, Length: 75438, dtype: int64

In [29]:
df['make'][df['transmission'].isnull()].value_counts()

altima                                255
accord                                149
wrangler                              126
civic                                 124
silverado                             114
                                     ...
i35                                     1
qx56                                    1
impreza 2.0i limited awd 4dr wagon      1
jetta wagon                             1
sport                                   1
Name: make, Length: 994, dtype: int64

Let's keep rows with null value of 'transmission' because of the following reasons:

(1) Null values in 'transmission' occupies insignificant portion at below than 1 %.

(2) Given such other feature information as 'make', 'manufacturer', or 'type',  it is not available to assume which vehicle should be automatic or manual.

Let's look into 'title_status' by value_counts().

In [30]:
df['fuel'].value_counts()

gas         928604
diesel       75518
other        27766
hybrid        7055
electric      1709
Name: fuel, dtype: int64

Let's compare 'make' between two groups in 'transmission': notnull vs. isnull

In [31]:
df['make'][df['fuel'].notnull()].value_counts()

1500                            13819
f-150                           12759
silverado 1500                   8398
2500                             8007
silverado                        7972
                                ...
fe160 w/extended box                1
z71 stepside                        1
aviator 4x4                         1
sierra 1500 denali automatic        1
chevroletChe suburban               1
Name: make, Length: 74616, dtype: int64

In [32]:
df['make'][df['fuel'].isnull()].value_counts()

silverado 1500                            264
f-150                                     234
tundra                                    115
tahoe                                      91
sierra 1500                                76
                                         ...
pacifica awd                                1
terrain slt-2                               1
Accord 2003                                 1
3 series 4dr sdn 328i xdrive awd sulev      1
s 63 amg 4 matic awd                        1
Name: make, Length: 1918, dtype: int64

As seen above, it is also difficult to judge true 'fuel' types for rows whose 'fuel' is null value.  Thus, let's keep 'fuel' as it is because of the following reasons:

(1) Null values in 'transmission' occupies insignificant portion at below than 1 %.

(2) Given such other feature information as 'make', 'manufacturer', or 'type', it is not available to assume which vehicle should be automatic or manual.

In [33]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

size            65.833660
vin             65.002149
type            41.363597
condition       41.311162
paint_color     41.070286
cylinders       40.759592
drive           38.422174
odometer        32.708952
manufacturer     7.973276
weather          5.628695
county_fips      5.571771
county_name      5.571771
state_fips       5.571771
state_code       5.571771
make             4.120878
fuel             0.607253
transmission     0.555487
title_status     0.147563
image_url        0.000000
lat              0.000000
long             0.000000
state_name       0.000000
year             0.000000
price            0.000000
city             0.000000
url              0.000000
dtype: float64

Let's drop rows whose 'make' value is null in that null value of 'make' can not correlation with 'price'.

In [34]:
df.drop(df[df['make'].isnull()].index, inplace=True)

In [35]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

size            65.443526
vin             63.997115
condition       40.731115
type            40.423504
paint_color     40.141095
cylinders       39.954416
drive           37.525501
odometer        31.379649
manufacturer     8.309393
weather          5.721891
county_fips      5.666007
county_name      5.666007
state_fips       5.666007
state_code       5.666007
fuel             0.631161
transmission     0.566710
title_status     0.152311
image_url        0.000000
lat              0.000000
long             0.000000
state_name       0.000000
make             0.000000
year             0.000000
price            0.000000
city             0.000000
url              0.000000
dtype: float64

Let's take a look into such geographical information as 'lat' and 'long' whose 'county_fips' value is null.

In [36]:
df[['lat', 'long']][df['county_fips'].isnull()]

              lat        long
8       46.509803  -84.257825
9       46.514191  -84.291307
10      46.497529  -84.467464
11      46.497529  -84.467464
12      46.517791  -84.342291
...           ...         ...
386914  52.128158 -121.887320
386915  49.206149 -122.878196
386916  52.140620 -122.152208
386940  17.193913 -100.603865
387058  13.606640  -87.242176

[56879 rows x 2 columns]

Let's replace 'lat' and 'long' whose values are null with ones whose values are not null.

Let's create a new column, 'lat_long' which combines 'lat' & 'long' in order to match it to 'county_fips'.

In [37]:
df['lat_long'] = str(df['lat']) + str(df['long'])
latlong = df[['lat_long', 'county_fips']].dropna(inplace=True)
latlong = df[['lat_long', 'county_fips']].drop_duplicates()
latlong

C:\Users\danie\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                                  lat_long  county_fips
0        0          43.4775\n1          44.7612\n2     ...      46083.0
1        0          43.4775\n1          44.7612\n2     ...      46039.0
2        0          43.4775\n1          44.7612\n2     ...      46093.0
3        0          43.4775\n1          44.7612\n2     ...      19143.0
4        0          43.4775\n1          44.7612\n2     ...      19109.0
...                                                    ...          ...
1032383  0          43.4775\n1          44.7612\n2     ...      46041.0
1033987  0          43.4775\n1          44.7612\n2     ...      29041.0
1034412  0          43.4775\n1          44.7612\n2     ...      29227.0
1035337  0          43.4775\n1          44.7612\n2     ...      29211.0
1035678  0          43.4775\n1          44.7612\n2     ...      29139.0

[3039 rows x 2 columns]

Let's replace null values in df['county_fips'] with values in latlong['county_fips'] on a basis of 'lat_long'.

And drop unnecessary columns as well.

In [38]:
df.drop(['county_fips','url','vin','image_url','state_fips','state_name'], axis=1, inplace=True) 
df.columns

Index(['city', 'price', 'year', 'manufacturer', 'make', 'condition',
       'cylinders', 'fuel', 'odometer', 'title_status', 'transmission',
       'drive', 'size', 'type', 'paint_color', 'lat', 'long', 'county_name',
       'state_code', 'weather', 'lat_long'],
      dtype='object')

In [39]:
df.shape

(1003864, 21)

In [40]:
df = pd.merge(df, latlong, how='left', on='lat_long')
print(df.shape)

MemoryError: Unable to allocate 22.7 GiB for an array with shape (3050742696,) and data type int64

In [ ]:
df[['state_name','city']][df['county_fips'].isnull()]

In [ ]:
df['city'][df['county_fips'].isnull()].value_counts()

Let's remove rows whose value of 'county_fips' is null because an address without exact location information such as 'county_fips' can hardly give a correlation with 'price'.

In [ ]:
df.drop(df[df['county_fips'].isnull()].index, inplace=True)

In [ ]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

Now let's look into rows with 'title_status' whose value is null.

In [ ]:
df[df['title_status'].isnull()].corr()

Let's drop 'state_name' with null value.

In [ ]:
df.drop(df[df['state_name'].isnull()].index, inplace=True)

In [ ]:
((df.isnull().sum()/len(df)).sort_values(ascending = False)*100).astype(float)

In [ ]:
df['size'].value_counts()

In [ ]:
df['type'].value_counts()

In [ ]:
# let's drop url, image_url, vin, size because they are not usable here: df1

df1 = df.drop(columns=['url','image_url', 'vin', 'size'])
df1.head()

In [ ]:
df1.info()

In [ ]:
# Information between 'title_status' and 'type' are hidden in the above.
# Thus, here go another head.

df1.loc[:,['transmission','drive']].head()

In [ ]:
# Let's look into geospatial information.

# On one hand such geospatial information as 'lat', 'long', 'state_name', and 'city' has no NaN.

# On the other hand, such other information as 'weather', 'county_fips', 'county_name', 'state_fips', and 'state_code' have
# the same 0.055638 of NaN out of each columns.

# Besides 'weather', as long as such geospatial information with no NaN have no error, other geospatial information with NaN
# should be matched to the geospatial information with no NaN.

# Let's take looks into the information with no NaN:

In [ ]:
# Let's check if 'lat' has an error.

df1.lat.value_counts()

In [ ]:
# We found no errors on 'lat'.

# Now let's check if 'long' has an error.

df1.long.value_counts()

In [ ]:
# 'long' has no error as well.

# Let's check if 'state_name' has an error.

df1.state_name.value_counts()

In [ ]:
# There's such error on 'state_name' as 'FAILED'.

# Let's check if 'city' has an error.

df1.city.value_counts()

In [ ]:
# Even in 'city', there seem possibly some errors on city names like 'cfl'.

# Thus, let's bring additional data set, 'Median_Household_Income_2017.csv' in order to match this with df1 on bases of 
# 'county_fips'.

df_income = pd.read_csv("Median_Household_Income_2017.csv")
df_income.tail()

In [ ]:
# 'county_fips' from df1 and 'FIPS' from df_income look having same 5 digits except for that type of 'county_fips'
# from df1 should be converted to integer from float.

df1['county_fips']=df1['county_fips'].astype(int)
df1['county_fips']

In [ ]:
# Let's solve he positive or negative infinite problem.

df1 = df1.replace([np.inf, -np.inf], np.nan)
df1['county_fips']=df1['county_fips'].fillna(0)
df1['county_fips']=df1['county_fips'].astype(int)
df1['county_fips']

In [ ]:
len(df1[df1['county_fips']==0])/len(df1['county_fips'])

In [ ]:
df1=df1[['county_fips','price','year','manufacturer','make','condition','cylinders','fuel','odometer','title_status','transmission','drive','type','paint_color','weather']]
df1=df1.drop_duplicates()

In [ ]:
# Now let's change the type of df_income['FIPS'] to integer.

df_income.rename(columns = {'FIPS':'county_fips'}, inplace=True)
df_income['county_fips']=df_income['county_fips'].astype(int)
df_income['county_fips'].value_counts()

In [ ]:
df_income1=df_income[['county_fips','Area_name','State','Median_Household_Income_2017','Unemployment_rate_2018','Civilian_labor_force_2018']]
df_income1=df_income1.drop_duplicates()

In [ ]:
# Let's merge two data sets: df1 and df_zip

df2 = pd.merge(df1,df_income1, on='county_fips', how='left')
df2=df2.drop_duplicates()
df2.tail()

In [ ]:
# Now let's bring population information.

df_zip = pd.read_csv("uszips.csv")
df_zip.tail()

In [ ]:
# Now let's normalize 'population' and 'density'.

# I will add the sum of 'population' to each 'county_fips'.

df2['population']=df_zip.groupby('county_fips')['population'].cumsum()
df2.head()

In [ ]:
df2.tail()

In [ ]:
df_zip['area']=df_zip.population / df_zip.density

df_zip

In [ ]:
# In order to add 'density' on 'county_fips', it is needed to understand how to calculate 'density'.

# density = total population / total area

# We already know 'density' and 'population' from 'df_zip'.

# Let's calculate df_zip['area'] by dividing 'population' with 'density'.

In [ ]:
df2['area']=df_zip.groupby('county_fips')['area'].cumsum()
df2['density']=df2.population / df2.area
df2.head()

In [ ]:
df2['year']=df2['year'].fillna(0)
df2['year']=df2['year'].astype(int)

In [ ]:
df2.head()

In [ ]:
df2['manufacturer']=df2['manufacturer'].fillna("UNKNOWN")
df2['manufacturer'].value_counts()

In [ ]:
df2['make']=df2['make'].fillna("UNKNOWN")
df2['make'].value_counts()

In [ ]:
# As seen above 2 value_counts 'UNKNOWN' occupy in both columns:'manifacturer' and 'make'.
# Let's look into them.

df2.loc[(df2['manufacturer'] == 'UNKNOWN') & (df2['make'] == 'UNKNOWN'),:]

In [ ]:
# Let's drop df2.manufacturer & df2.make whose values are UNKNOWN at the same time.

df3 = df2.drop(df2[(df2['manufacturer']=='UNKNOWN') & (df2['make']=='UNKNOWN')].index)
df3

In [ ]:
(df3.isnull().sum()/len(df3)).sort_values(ascending = False)

In [ ]:
df3.county_fips.value_counts()

In [ ]:
# let's drop 0 value of 'county_fips' in that their portion occupies only 4%, which can be ignorable.

len(df3.county_fips[df3.county_fips==0])/len(df3.county_fips)

In [ ]:
df3=df3.drop(df3[df3['county_fips']==0].index)
df3

In [ ]:
df3.describe()

In [ ]:
# And, as long as you don't know what year your vehicle was made at, it is impossible to project a residual value of
# your vehile.

# So let's drop 'year' whose value is 0.

len(df3[df3.year==0])/len(df3)

In [ ]:
df3=df3.drop(df3[df3['year']==0].index)
df3.describe()

In [ ]:
df3

In [ ]:
(df3.isnull().sum()/len(df3)).sort_values(ascending = False)

In [ ]:
df3[df3.Area_name.isnull()]

In [ ]:
# Let's drop the above rows whose 'county_name' cannot be identified.

df3=df3.drop(df3[df3['Area_name'].isnull()].index)
(df3.isnull().sum()/len(df3)).sort_values(ascending = False)

In [ ]:
df3[df3.title_status.isnull()]

In [ ]:
df3.title_status.value_counts()

In [ ]:
# Let's drop 'title_status' whose values is_null.

df3=df3.drop(df3[df3['title_status'].isnull()].index)
(df3.isnull().sum()/len(df3)).sort_values(ascending = False)

In [ ]:
df3.condition.value_counts()

In [ ]:
# By comparing salvage counts (19879) from 'title_status' with salvage counts (3442) from 'condition', it is assumed that
# salvage from 'condition' seems NOT objective in that salvage counts (19879) from 'title_status' outnumber salvage counts
# (3442) from 'condition'.

# From a commonsense point of view, used car sellers would like to overestimate their cars.

# Thus, let's exclude the column, 'condition'.
# In addtion, Null value of 'condition' occupies 39%; it is too big.

df3 = df3.drop(columns=['condition'])

In [ ]:
df3.weather.value_counts()

In [ ]:
df3[df3.weather.isnull()]

In [ ]:
df3.county_fips[df3.weather.isnull()].value_counts()

In [ ]:
# All df3's 'weather' whose value is null has only one 'county_fips' value: 11001, District of Columbia.
# So let's look into all 'weather' values from all 'county_fips', 11001 value.

df3.weather[df3.county_fips == 11001].value_counts()

In [ ]:
# None, so let's look into other columns of 'county_fips', 11001.

df3[df3.county_fips == 11001]

In [ ]:
# All null value of 'weather' is information of 'county_fips', 11001, whose 'county_name' is 'District of Columbia'
# Let's keep 'weather' whose value is null because 'weather' values  within 'Distict of Columbia' is the only one value, NaN.

In [ ]:
(df3.isnull().sum()/len(df3)).sort_values(ascending = False)

In [ ]:
# 'price' seems having no problems.
df3.price.value_counts()

In [ ]:
# 'year' whose values are below 1900 seem not normal.
df3.year.value_counts()

In [ ]:
# Let's look into information whose 'year' <1900.
df3[df3.year<1900]

In [ ]:
# Let's look into information whose 'year' > 1900 & 'year' < 1910.
df3[(df3.year>1900) & (df3.year<1910)]

In [ ]:
# It is better to keep 'year' information for the time being because there are too many abnormal information to be corrected.

In [ ]:
# Let's do value_counts on 'make'.

df3.make.value_counts()

In [ ]:
#'UNKNOWN' make occupies almost 10% of total information.

len(df3.make.value_counts())/len(df3)

In [ ]:
# As long as you do not know 'make' as 'UNKNOWN', it is impossible to project resale values on it per 'make'.
# Thus, it is better to drop 'make' whose value is 'UNKNOWN'.

df3=df3.drop(df3[df3['make']=='UNKNOWN'].index)
df3.make.value_counts()

In [ ]:
# Let's look into 'manufacturer'.

df3.manufacturer.value_counts()

In [ ]:
# Let's look at them in alphabetical order.

df_manufacturer=df3.manufacturer.drop_duplicates()
df_manufacturer.sort_values(ascending=True)

In [ ]:
# There are some identical manufacturers with different names or misspelling.
# Let's look into them and correct them.

df3[df3['manufacturer']=='alfa']

In [ ]:
df3[df3['manufacturer']=='alfa-romeo']

In [ ]:
# As seen above, 'alfa' and 'alfa-romeo' seem identical.
# Let's replace 'alfa' with 'alfa-roemo'.

df3['manufacturer'].replace(to_replace="alfa",value="alfa-roemo",inplace=True)
df3=df3.drop_duplicates()

In [ ]:
# Now let's compare 'aston' with 'aston-martin'.
df3[df3['manufacturer']=='aston']

In [ ]:
df3[df3['manufacturer']=='aston-martin']

In [ ]:
# As seen above, 'aston' and 'aston-martin' seem identical.
# Let's replace 'aston' with 'aston-martin'.

df3['manufacturer'].replace(to_replace="aston",value="aston-martin",inplace=True)
df3=df3.drop_duplicates()

In [ ]:
# Now let's compare 'chev' and 'chevy' with 'chevrolet'.
df3[df3['manufacturer']=='chev']

In [ ]:
df3[df3['manufacturer']=='chevy']

In [ ]:
df3[df3['manufacturer']=='chevrolet']

In [ ]:
# Although they have many kinds of 'make', their 'make' share many identical 'make' such as siverado, trailblazer, etc.
# Let's replace 'chev' and 'chevy' with 'chevrolet'.

df3['manufacturer'].replace(to_replace="chev",value="chevrolet",inplace=True)
df3['manufacturer'].replace(to_replace="chevy",value="chevrolet",inplace=True)
df3=df3.drop_duplicates()

In [ ]:
# Now let's compare 'harley' with 'harley-davidson'.
df3[df3['manufacturer']=='harley']

In [ ]:
df3[df3['manufacturer']=='harley-davidson']

In [ ]:
# As seen above, 'harley' and 'harley-davidson' seem identical.
# Let's replace 'harley' with 'harley-davidson'.

df3['manufacturer'].replace(to_replace="harley",value="harley-davidson",inplace=True)
df3=df3.drop_duplicates()

In [ ]:
# Now let's compare 'infiniti' with 'infinity'.
df3[df3['manufacturer']=='infiniti']

In [ ]:
df3[df3['manufacturer']=='infinity']

In [ ]:
# As seen above, 'infiniti' and 'infinity' seem identical.
# Let's replace 'infinity' with 'infiniti'.

df3['manufacturer'].replace(to_replace="infinity",value="infiniti",inplace=True)
df3=df3.drop_duplicates()

In [ ]:
# Now let's compare 'land rover' and 'landrover' with 'rover'.
df3[df3['manufacturer']=='land rover']

In [ ]:
df3[df3['manufacturer']=='landrover']

In [ ]:
df3[df3['manufacturer']=='rover']

In [ ]:
# Although they have many kinds of 'make', their 'make' share many identical 'make' such as discovery, etc.
# Let's replace 'landrover' and 'rover' with 'land rover'.

df3['manufacturer'].replace(to_replace="landrover",value="land rover",inplace=True)
df3['manufacturer'].replace(to_replace="rover",value="land rover",inplace=True)
df3=df3.drop_duplicates()

In [ ]:
# Now let's compare 'mercedes' and 'mercedes-benz' with 'mercedesbenz'.
df3[df3['manufacturer']=='mercedes']

In [ ]:
df3[df3['manufacturer']=='mercedes-benz']

In [ ]:
df3[df3['manufacturer']=='mercedesbenz']

In [ ]:
# Although they have many kinds of 'make', their 'make' share many identical 'make' such as cclass, eclass, etc.
# Let's replace 'mercedes' and 'mercedesbenz' with 'mercedes-benz'.

df3['manufacturer'].replace(to_replace="mercedes",value="mercedes-benz",inplace=True)
df3['manufacturer'].replace(to_replace="mercedesbenz",value="mercedes-benz",inplace=True)
df3=df3.drop_duplicates()

In [ ]:
# Now let's compare 'volkswagen' with 'vw'.
df3[df3['manufacturer']=='volkswagen']

In [ ]:
df3[df3['manufacturer']=='vw']

In [ ]:
# Although they have many kinds of 'make', their 'make' share many identical 'make' such as jetta, beetle, etc.
# Let's replace 'vw' with 'mercedes-benz'.

df3['manufacturer'].replace(to_replace="vw",value="volkswagen",inplace=True)
df3=df3.drop_duplicates()

In [ ]:
# Let's make a new df for 'manufacturer' per 'make' for normalization.

df3_manu=df3[['make','manufacturer']]
df3_manu=df3_manu.drop_duplicates()

In [ ]:
df3_manu=df3_manu.drop(df3_manu[df3_manu['manufacturer']=='UNKNOWN'].index)
df3_manu=df3_manu.drop_duplicates()
df3_manu.sort_values('make',ascending = True, inplace=True)
df3_manu['make'].value_counts()
df3_manu.manufacturer.value_counts()

In [ ]:
df3_manu.make.value_counts()

In [ ]:
# In order to normalize 'manufacturer', let's look into 'make' which have multiple counts.

df3_manu['manufacturer'][df3_manu['make']=='#NAME?'].value_counts()

In [ ]:
# As seen above, there are no multiple counts per 'manufacturer'.
# So let's drop '#NAME?' from df3_manu.

df3_manu=df3_manu.drop(df3_manu[df3_manu['make']=='#NAME?'].index)
df3_manu.make.value_counts()

In [ ]:
df3_manu.sort_values('make',ascending = True, inplace=True)
df3_manu

In [ ]:
# Likewise, let's drop all 'make' values with multiple counts in df3_manu.

df3_manu=df3_manu.drop_duplicates(subset='make', keep='first')
df3_manu.make.value_counts()

In [ ]:
df3

In [ ]:
# Now let's merge df3 and df3_manu for normalizing 'manufacturer'.
df3 = df3.drop(columns=['manufacturer'])
df3= pd.merge(df3, df3_manu, on='make', how='left')
df3

In [ ]:
# Let's reorganize 'type' of cars.
df3.type.value_counts()

In [ ]:
df3_type=df3[['make','type']]
df3_type=df3_type.drop_duplicates()
df3_type=df3_type.drop(df3_type[df3_type['type'].isnull()].index)
df3_type=df3_type.drop(df3_type[df3_type['make']=='UNKNOWN'].index)
df3_type

In [ ]:
df3_type.make.value_counts()

In [ ]:
# Let's get rid of duplicates of 'make' values in df3_type.
df3_type.sort_values('make',ascending = True, inplace=True)
df3_type=df3_type.drop_duplicates(subset='make', keep='first')
df3_type.make.value_counts()

In [ ]:
# Now let's merge df3 and df3_manu for normalizing 'type'.
df3 = df3.drop(columns=['type'])
df3= pd.merge(df3, df3_type, on='make', how='left')
df3

In [ ]:
# null 'type' value can be ignored:1%

df3['type'].isnull().sum()/len(df3)

In [ ]:
# Deleting null value of 'fuel' in df3.

df3=df3.drop(df3[df3['type'].isnull()].index)

In [ ]:
# Now let's take a look into 'transmission'.

df3.transmission.value_counts()

In [ ]:
len(df3[df3.transmission.isnull()])/len(df3)

In [ ]:
# It is better to drop null 'transmission' in df3 because it occupies only 0.4%
df3=df3.drop(df3[df3['transmission'].isnull()].index)
len(df3[df3.transmission.isnull()])/len(df3)

In [ ]:
(df3.isnull().sum()/len(df3)).sort_values(ascending = False)

In [ ]:
# It i better drop 'density', 'area','population' in that they occupies 97%.

df3=df3.drop(columns=['density','area','population'])

In [ ]:
df3.columns

In [ ]:
# Let's look into 'paint_color'.
df3.paint_color.value_counts()

In [ ]:
# The most color 'white' only occupies 13% while null 'paint_color' occupies 40%.
len(df3[df3['paint_color']=='white'])/len(df3)

In [ ]:
# So it is better to drop 'paint_color' from df3.
df3=df3.drop(columns=['paint_color'])
df3.columns

In [ ]:
# Let's look into 'cylinder'.
df3.cylinders.value_counts()

In [ ]:
# The most cylinder '6 cylinders' occupies 22% while null 'cylinder' occupies 38%.
len(df3[df3['cylinders']=='6 cylinders'])/len(df3)

In [ ]:
df3_cylinders=df3[['make','cylinders']]
df3_cylinders=df3_cylinders.drop_duplicates()

In [ ]:
df3_cylinders=df3_cylinders.drop(df3_cylinders[df3_cylinders['cylinders'].isnull()].index)
df3_cylinders=df3_cylinders.drop(df3_cylinders[df3_cylinders['make']=='UNKNOWN'].index)

df3_cylinders.sort_values('make',ascending = True, inplace=True)
df3_cylinders=df3_cylinders.drop_duplicates(subset='make', keep='first')

df3_cylinders.make.value_counts()

In [ ]:
df3_cylinders

In [ ]:
df3= pd.merge(df3, df3_cylinders, on='make', how='left')
df3

In [ ]:
# Let's fill null values in 'cylinder_x' with values from 'cylinder_y'

df3['cylinders_x'].fillna(df3['cylinders_y'], inplace=True)
        

df3['cylinders_x']

In [ ]:
df3=df3.drop(columns=['cylinders_y'])
df3.rename(columns = {'cylinders_x':'cylinders'}, inplace=True)

df3

In [ ]:
# Let's get rid of null values in 'cylinders' of df3 in that null value of 'cylinders' occupies only 5%
# The 5% can be ignorable

df3['cylinders'].isnull().sum()/len(df3)

In [ ]:
df3=df3.drop(df3[df3['cylinders'].isnull()].index)
(df3.isnull().sum()/len(df3)).sort_values(ascending = False)

In [ ]:
# Let's take a look into 'fuel' in df3.
df3_fuel=df3[['make','fuel']]
df3_fuel=df3_fuel.drop_duplicates()
df3_fuel=df3_fuel.drop(df3_fuel[df3_fuel['fuel'].isnull()].index)
df3_fuel=df3_fuel.drop(df3_fuel[df3_fuel['make']=='UNKNOWN'].index)

df3_fuel.sort_values('make',ascending = True, inplace=True)
df3_fuel=df3_fuel.drop_duplicates(subset='make', keep='first')

df3_fuel.make.value_counts()

In [ ]:
df3= pd.merge(df3, df3_fuel, on='make', how='left')
df3

In [ ]:
# Let's fill null values in 'fuel_x' with values from 'fuel_y'.

df3['fuel_x'].fillna(df3['fuel_y'], inplace=True)
df3=df3.drop(columns=['fuel_y'])
df3.rename(columns = {'fuel_x':'fuel'}, inplace=True)

df3

In [ ]:
# null 'fuel' value can be ignored:0.2%

df3['fuel'].isnull().sum()/len(df3)

In [ ]:
# Deleting null value of 'fuel' in df3.

df3=df3.drop(df3[df3['fuel'].isnull()].index)
(df3.isnull().sum()/len(df3)).sort_values(ascending = False)

In [ ]:
# Null value of 'manufacturer' still occupuies 6%.
# In order to minimize this portion, it is needed to take a look into 'drive' information.
# Once 'drive' information is normalized, null value of 'drive' will be dropped.

df3_drive=df3[['make','drive']]
df3_drive=df3_drive.drop_duplicates()
df3_drive=df3_drive.drop(df3_drive[df3_drive['drive'].isnull()].index)
df3_drive=df3_drive.drop(df3_drive[df3_drive['make'].isnull()].index)
df3_drive=df3_drive.drop(df3_drive[df3_drive['make']=='UNKNOWN'].index)

df3_drive.sort_values('make',ascending = True, inplace=True)
df3_drive=df3_drive.drop_duplicates(subset='make', keep='first')

df3_drive.make.value_counts()

In [ ]:
df3= pd.merge(df3, df3_drive, on='make', how='left')
df3

In [ ]:
# Let's fill null values in 'drive_x' with values from 'drive_y'.

df3['drive_x'].fillna(df3['drive_y'], inplace=True)
df3=df3.drop(columns=['drive_y'])
df3.rename(columns = {'drive_x':'drive'}, inplace=True)

df3

In [ ]:
# null 'drive' value can be ignored:0.5%

df3['drive'].isnull().sum()/len(df3)

In [ ]:
# Dropping null value of 'drive' in df3.

df3=df3.drop(df3[df3['drive'].isnull()].index)
(df3.isnull().sum()/len(df3)).sort_values(ascending = False)

In [ ]:
# Null value of 'manufacturer' still occupuies 6%.
# In order to minimize this portion more, it is needed to take a look into 'odometer' information.
# Once 'odometer' information is normalized, null value of 'odometer' will be dropped.

df3_odo=df3[['make','odometer']]
df3_odo=df3_odo.drop_duplicates()
df3_odo=df3_odo.drop(df3_odo[df3_odo['odometer'].isnull()].index)
df3_odo=df3_odo.drop(df3_odo[df3_odo['make'].isnull()].index)
df3_odo=df3_odo.drop(df3_odo[df3_odo['make']=='UNKNOWN'].index)

#df3_odo.groupby(['make','odometer']).mean()

df3_odo=df3_odo.groupby(['make']).mean()

In [ ]:
df3_odo

In [ ]:
df3= pd.merge(df3, df3_odo, on='make', how='left')
df3

In [ ]:
# Let's fill null values in 'odometer_x' with values from 'odometer_y'.

df3['odometer_x'].fillna(df3['odometer_y'], inplace=True)
df3=df3.drop(columns=['odometer_y'])
df3.rename(columns = {'odometer_x':'odometer'}, inplace=True)

df3

In [ ]:
# null 'odometer' value can be ignored:1%

df3['odometer'].isnull().sum()/len(df3)

In [ ]:
# Dropping null value of 'odometer' in df3.

df3=df3.drop(df3[df3['odometer'].isnull()].index)
(df3.isnull().sum()/len(df3)).sort_values(ascending = False)

In [ ]:
# Now null value of 'manfacturer' reached below 5%.
# You can drop the null value of 'manufacturer' in df3.
df3=df3.drop(df3[df3['manufacturer'].isnull()].index)

In [ ]:
(df3.isnull().sum()/len(df3)).sort_values(ascending = False)

# EDA & VDA

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df3.describe()

In [ ]:
df3=df3.fillna(0)

#sns.heatmap(df3,xticklabels=False, yticklabels=False)

In [ ]:
# In order to make a heat map, it is needed to convert such columns' values as 'condition', 'cylinder', 'fuel' into numerical values.

# So, let's look into their values by using value_counts.

df3.drive.value_counts()

In [ ]:
df3[df3['drive']==0]

In [ ]:
# Let's change df2[df2['make'] == 'model'] into 'UNKNOWN'.

#df2['make'].replace(to_replace="model",value="UNKNOWN",inplace=True)
#df2['make']=df2['make'].fillna("UNKNOWN")
#df2['make'].value_counts()

In [ ]:
# Now let's  categorize

In [ ]:
# Let's look into (df3['manufacturer'] == 'UNKNOWN') whose 'make' is not 'UNKNOWN'.

#df3.loc[(df3['manufacturer'] == 'UNKNOWN') & (df3['make'] != 'UNKNOWN'),:]

In [ ]:
#df_make= df3[['manufacturer','make']].drop_duplicates()
#df_make.sort_values(by='make', ascending=True)

In [ ]:
# Let's get rid of 'UNKNOWN' of df_make from the dataset

#df_make=df_make[df_make['manufacturer']!='UNKNOWN']
#df_make

In [ ]:
# As long as value of 'make' is identifiable, its 'manufacturer' can be identified.
# Now let's replace 'UNKNOWN' of df3 with manufacturer's values of df_make.

#df3['manufacturer_']=np.where((df3.

#while True:
#    if df3['manufacturer'] == 'UNKNOWN':
#        if df3['make'].replace

In [ ]:
# Let's drop df2.manufacturer & df2.make whose values are UNKNOWN at the same time.

#df2 = df2[(df2['manufacturer'] != 'UNKNOWN') & (df2['make'] != 'UNKNOWN')]
#df2

In [ ]:
#df2[df2.manufacturer == "UNKNOWN"]

In [ ]:
#df2[df2.make == "UNKNOWN"]

In [ ]:
#df_zip.state_name.value_counts()

In [ ]:
#df_zip.county_fips.value_counts()

In [ ]:
#df_zip.county_name.value_counts()

In [ ]:
#df_zip.population.value_counts()

In [ ]:
#df_zip.zip.value_counts()

In [ ]:
#df_zip.density.value_counts()

In [ ]:
# From my initial assumption, I thought that 'county_fips' coincide with 'county_name' or 'city'.

# If it were right, 'county_name's value_counts' outcome should have been the same as one of 'county_fips'.

# But their outcomes look different.

# Upon looking into the above value_counts(), I had another assumption that the more lines of Length from any columns than
# 'count_fips' generate unnecessary multiple rows.

# There are only two columns whose numbers of lengths are smaller than one of 'county_fips': 'county_name' and 'state_name'

# So, I am trying to normalize all columns' values on a basis of 'county_fips' in 'df_zip'.

In [ ]:
#df3 = df_zip[['county_fips','county_name','state_name']]

In [ ]:
#df3

In [ ]:
# As seen above, there are multiple duplicates on 'county_fips', and so it is needed to drop duplicates.

#df3.drop_duplicates(keep=False,inplace=True)
#df3

In [ ]:
#df['county_fips'].tail()

In [ ]:
#df4.describe()

In [ ]:
#df4.columns

In [ ]:
#df4.fillna("UNKNOWN",inplace=True)

In [ ]:
#df4['manufacturer'].value_counts()

In [ ]:
#df4[df4.manufacturer == "UNKNOWN"]

In [ ]:
#df4['make'].value_counts()

In [ ]:
#df4[df4.make == "model"]

In [ ]:
#df5.county_name.value_counts()

In [ ]:
#df.loc[:,['size','cylinder','make','fuel','year','title_status']]

In [ ]:
#df.loc[:,['title_status','transmission','vin','drive','size','type']].head()