Read the normalized df.

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

train_data = pd.read_csv("UsedCarSellingInfoCraigslistNormalized.csv")
train_data.head()

,Unnamed: 0,price,year,manufacturer,make,cylinders,fuel,odometer,title_status,transmission,drive,size,type,weather,city,state,county,VClass,youSaveSpend,usage_yr
0,0,11900,2010,dodge,challenger se,6,gas,43600,clean,automatic,rwd,full-size,coupe,38.0,Harrisburg,South Dakota,Lincoln County,midsize cars,-5750.0,9
1,1,2800,2004,ford,taurus,6,gas,168591,clean,automatic,fwd,full-size,sedan,47.0,Sanborn,Iowa,O'Brien County,large cars,-2250.0,15
2,2,2800,2004,ford,taurus,6,gas,168591,clean,automatic,fwd,full-size,sedan,47.0,Sanborn,Iowa,O'Brien County,large cars,-2250.0,15
3,3,400,2001,pontiac,2001 grand prix,0,gas,217000,clean,automatic,fwd,full-size,sedan,47.0,Algona,Iowa,Kossuth County,midsize cars,-1750.0,18
4,4,9900,2007,gmc,yukon,8,gas,169000,clean,automatic,4wd,full-size,suv,38.0,Lennox,South Dakota,Lincoln County,standard pickup trucks 4wd,-5000.0,12

In [2]:
train_data.tail()

,Unnamed: 0,price,year,manufacturer,make,cylinders,fuel,odometer,title_status,transmission,drive,size,type,weather,city,state,county,VClass,youSaveSpend,usage_yr
546023,546525,25786,2014,chevrolet,silverado 1500,8,gas,55286,clean,automatic,4wd,full-size,pickup,52.0,Harrisonville,Missouri,Cass County,standard pickup trucks 4wd,-5000.0,5
546024,546526,28991,2015,ford,f150 supercrew cab,6,gas,105123,clean,automatic,4wd,full-size,pickup,52.0,Harrisonville,Missouri,Cass County,compact cars,-1750.0,4
546025,546527,25995,2015,ford,f150 supercrew cab,8,other,108142,clean,automatic,4wd,full-size,pickup,52.0,Harrisonville,Missouri,Cass County,compact cars,-1750.0,4
546026,546528,40000,2006,ford,sterling,0,diesel,350000,clean,manual,fwd,full-size,truck,52.0,Bel-Nor,Missouri,Saint Louis County,midsize cars,-1500.0,13
546027,546529,6995,2007,ram,1500,0,gas,197936,clean,manual,4wd,full-size,truck,52.0,Moscow Mills,Missouri,Lincoln County,standard pickup trucks 4wd,-5000.0,12

Let's drop 'Unnamed: 0'.

In [3]:
train_data.drop(['Unnamed: 0'], axis = 1, inplace=True)
train_data.columns

Index(['price', 'year', 'manufacturer', 'make', 'cylinders', 'fuel',
       'odometer', 'title_status', 'transmission', 'drive', 'size', 'type',
       'weather', 'city', 'state', 'county', 'VClass', 'youSaveSpend',
       'usage_yr'],
      dtype='object')

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546028 entries, 0 to 546027
Data columns (total 19 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         546028 non-null  int64
 1   year          546028 non-null  int64
 2   manufacturer  546028 non-null  object
 3   make          546027 non-null  object
 4   cylinders     546028 non-null  int64
 5   fuel          546028 non-null  object
 6   odometer      546028 non-null  int64
 7   title_status  546028 non-null  object
 8   transmission  546028 non-null  object
 9   drive         546028 non-null  object
 10  size          546028 non-null  object
 11  type          546028 non-null  object
 12  weather       546028 non-null  float64
 13  city          546028 non-null  object
 14  state         545990 non-null  object
 15  county        522298 non-null  object
 16  VClass        546028 non-null  object
 17  youSaveSpend  546028 non-null  float64
 18  usage_yr      546028 non-null  int64
dtypes: float64(2), int64(5), object(12)
memory usage: 79.2+ MB

Let's add Region and Division by 'state'.

In [5]:
region_df= pd.read_csv("datasets_31195_39789_states.csv")
region_df.head()

        State State Code Region            Division
0      Alaska         AK   West             Pacific
1     Alabama         AL  South  East South Central
2    Arkansas         AR  South  West South Central
3     Arizona         AZ   West            Mountain
4  California         CA   West             Pacific

Let's change the column as lowercase.

In [6]:
region_df = region_df.rename(columns = {"State":"state", "State Code":"state_code",
                                        "Region":"region","Division":"division"})

Let's do a left-join by 'state'.

In [7]:
train_data = train_data.merge(region_df, how='left', on=['state'])
train_data.head()

,price,year,manufacturer,make,cylinders,fuel,odometer,title_status,transmission,drive,size,type,weather,city,state,county,VClass,youSaveSpend,usage_yr,state_code,region,division
0,11900,2010,dodge,challenger se,6,gas,43600,clean,automatic,rwd,full-size,coupe,38.0,Harrisburg,South Dakota,Lincoln County,midsize cars,-5750.0,9,SD,Midwest,West North Central
1,2800,2004,ford,taurus,6,gas,168591,clean,automatic,fwd,full-size,sedan,47.0,Sanborn,Iowa,O'Brien County,large cars,-2250.0,15,IA,Midwest,West North Central
2,2800,2004,ford,taurus,6,gas,168591,clean,automatic,fwd,full-size,sedan,47.0,Sanborn,Iowa,O'Brien County,large cars,-2250.0,15,IA,Midwest,West North Central
3,400,2001,pontiac,2001 grand prix,0,gas,217000,clean,automatic,fwd,full-size,sedan,47.0,Algona,Iowa,Kossuth County,midsize cars,-1750.0,18,IA,Midwest,West North Central
4,9900,2007,gmc,yukon,8,gas,169000,clean,automatic,4wd,full-size,suv,38.0,Lennox,South Dakota,Lincoln County,standard pickup trucks 4wd,-5000.0,12,SD,Midwest,West North Central

Let's check 'state' which null values in 'region' or 'division'.

In [8]:
train_data['state'][train_data['region'].isnull()].value_counts()

British Columbia                    23506
Ontario                              2466
Alberta                               354
Baja California                       132
Manitoba                               88
Washington, D.C.                       78
Saskatchewan                           33
Nova Scotia                            32
Guerrero                               31
Tristan da Cunha                       31
Galapagos                              24
Nunavut                                22
Oaxaca                                 17
Jalisco                                16
Yukon                                  14
Quebec                                 13
Yucatan                                13
Saint Helena                           10
Sonora                                  9
New Brunswick                           9
Newfoundland and Labrador               9
Valparaiso                              9
Tamaulipas                              7
Eastern Cape                            6
Nuevo Leon                              5
Veracruz                                4
Amazonas                                4
Rio de Janeiro                          4
Chihuahua                               4
Western                                 4
Chiapas                                 3
Magallanes                              3
Lagunes                                 3
Santa Cruz                              3
Chatham Islands                         3
Montserrado                             3
Baja California Sur                     3
Zakarpattia                             3
Misiones                                3
Western Cape                            2
La Libertad                             2
Coahuila                                2
Volta                                   2
Hamilton city                           2
Grand Bassa                             2
Coquimbo                                2
Zacatecas                               2
Bonaire                                 2
Tierra del Fuego                        2
Michoacan                               2
Galicia                                 2
Los Lagos                               2
Adrar                                   2
Queretaro                               1
Santa Catarina                          1
Guyane                                  1
Kasai-Oriental                          1
Guanajuato                              1
Gao                                     1
Riau                                    1
Colima                                  1
North Abaco                             1
Brava                                   1
Andalusia                               1
Antofagasta                             1
Sha`biyat al Jabal al Gharbi            1
Laayoune-Boujdour-Sakia El Hamra        1
Auvergne                                1
Guatemala                               1
Qaasuitsup                              1
Wilaya de Naama                         1
Sud-Comoe                               1
Goias                                   1
Loreto                                  1
Rogaland                                1
Lower Saxony                            1
Luanda                                  1
Ninawa                                  1
Retalhuleu                              1
England                                 1
Azores                                  1
San Juan                                1
Yobe                                    1
Villa Clara                             1
Iles Marquises                          1
Ghardaia                                1
Mersin                                  1
Northwest Territories                   1
Valencia                                1
Quintana Roo                            1
Minas Gerais                            1
Southern Peninsula                      1
Acklins                                 1
Volyn                                   1
Northern                                1
Central Serbia                          1
Vaesterbotten                           1
Barbuda                                 1
Tlaxcala                                1
Erongo                                  1
Santa Ana                               1
Esmeraldas                              1
Tillaberi                               1
Bay Islands                             1
Ica                                     1
Sermersooq                              1
Sha`biyat al Wahat                      1
Central Abaco                           1
Nzerekore                               1
Mono                                    1
San Cristobal                           1
Huambo                                  1
Puebla                                  1
Dix-Huit Montagnes                      1
Name: state, dtype: int64

Let's fill in 'Washington, D.C.''s 'state_code' as 'DC', 'region' as 'South', and 'division' as 'South Atlantic'.

In [9]:
region_df[region_df['state_code']=='DC']

                  state state_code region        division
7  District of Columbia         DC  South  South Atlantic

In [10]:
# US
train_data.loc[train_data['state'] == 'Washington, D.C.','state_code']='DC'   
train_data.loc[train_data['state'] == 'Washington, D.C.','region']='South'   
train_data.loc[train_data['state'] == 'Washington, D.C.','division']='South Atlantic'

In [11]:
((train_data.isnull().sum()/len(train_data)).sort_values(ascending = False)*100).astype(float)

division        4.950296
state_code      4.950296
region          4.950296
county          4.345931
state           0.006959
make            0.000183
transmission    0.000000
year            0.000000
manufacturer    0.000000
cylinders       0.000000
fuel            0.000000
odometer        0.000000
title_status    0.000000
size            0.000000
drive           0.000000
type            0.000000
weather         0.000000
city            0.000000
VClass          0.000000
youSaveSpend    0.000000
usage_yr        0.000000
price           0.000000
dtype: float64

Let's drop rows with null values.  I will concentrate of the US information only.

In [12]:
train_data.drop(train_data[train_data['region'].isnull()].index, inplace=True)
train_data.drop(train_data[train_data['make'].isnull()].index, inplace=True)
((train_data.isnull().sum()/len(train_data)).sort_values(ascending = False)*100).astype(float)

county          0.020809
division        0.000000
drive           0.000000
year            0.000000
manufacturer    0.000000
make            0.000000
cylinders       0.000000
fuel            0.000000
odometer        0.000000
title_status    0.000000
transmission    0.000000
size            0.000000
region          0.000000
type            0.000000
weather         0.000000
city            0.000000
state           0.000000
VClass          0.000000
youSaveSpend    0.000000
usage_yr        0.000000
state_code      0.000000
price           0.000000
dtype: float64

In [13]:
train_data['state'][train_data['county'].isnull()].value_counts()

Washington, D.C.    78
New York            30
Name: state, dtype: int64

In [14]:
train_data['county'][train_data['state_code']=='DC'].value_counts()

Series([], Name: county, dtype: int64)

In [15]:
train_data['city'][(train_data['county'].notnull())
                   & (train_data['state']=='New York')].value_counts()

Bridgeport          285
Rome                220
Bensonhurst         148
Utica               134
Binghamton          125
                   ...
Centerport            1
Caledonia             1
Roslyn Estates        1
Northwest Harbor      1
Hillcrest             1
Name: city, Length: 711, dtype: int64

In [16]:
train_data['county'][train_data['city']=='New York City'].value_counts()

Series([], Name: county, dtype: int64)

Let's drop 'county' in that 'city' and 'state' are enough location information.

In [17]:
train_data.drop(['county'], axis = 1, inplace=True)

In [18]:
train_data['type'].value_counts()

sedan          167737
suv            120526
truck           68052
pickup          47120
coupe           35616
hatchback       19525
mini-van        14141
convertible     12781
wagon           12323
van              9999
other            8894
offroad          1721
bus               562
Name: type, dtype: int64

In [19]:
train_data['VClass'].value_counts()

sport utility vehicle - 4wd           91891
standard pickup trucks 4wd            90629
midsize cars                          89452
compact cars                          57707
standard pickup trucks                53722
large cars                            35100
subcompact cars                       25825
minivan - 2wd                         17328
standard pickup trucks 2wd            14885
small sport utility vehicle 4wd       11014
two seaters                            7109
small sport utility vehicle 2wd        6778
small station wagons                   4779
sport utility vehicle - 2wd            4534
minicompact cars                       2584
minivan - 4wd                          2384
small pickup trucks 4wd                1373
special purpose vehicle 2wd             886
midsize station wagons                  294
standard sport utility vehicle 4wd      293
special purpose vehicles                200
vans                                    101
midsize-large station wagons             46
special purpose vehicle 4wd              30
standard sport utility vehicle 2wd       29
small pickup trucks                      17
vans, passenger type                      6
small pickup trucks 2wd                   1
Name: VClass, dtype: int64

Let's drop 'type', and instead 'VClass' can give more specific information of vehicles.

In [20]:
train_data.drop(['type'], axis = 1, inplace=True)

In [21]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 518997 entries, 0 to 546027
Data columns (total 20 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         518997 non-null  int64
 1   year          518997 non-null  int64
 2   manufacturer  518997 non-null  object
 3   make          518997 non-null  object
 4   cylinders     518997 non-null  int64
 5   fuel          518997 non-null  object
 6   odometer      518997 non-null  int64
 7   title_status  518997 non-null  object
 8   transmission  518997 non-null  object
 9   drive         518997 non-null  object
 10  size          518997 non-null  object
 11  weather       518997 non-null  float64
 12  city          518997 non-null  object
 13  state         518997 non-null  object
 14  VClass        518997 non-null  object
 15  youSaveSpend  518997 non-null  float64
 16  usage_yr      518997 non-null  int64
 17  state_code    518997 non-null  object
 18  region        518997 non-null  object
 19  division      518997 non-null  object
dtypes: float64(2), int64(5), object(13)
memory usage: 83.2+ MB

In [22]:
train_data['weather'] = train_data['weather'].astype(int)
train_data['youSaveSpend'] = train_data['youSaveSpend'].astype(int)

In [23]:
train_data['VClass'].value_counts()

sport utility vehicle - 4wd           91891
standard pickup trucks 4wd            90629
midsize cars                          89452
compact cars                          57707
standard pickup trucks                53722
large cars                            35100
subcompact cars                       25825
minivan - 2wd                         17328
standard pickup trucks 2wd            14885
small sport utility vehicle 4wd       11014
two seaters                            7109
small sport utility vehicle 2wd        6778
small station wagons                   4779
sport utility vehicle - 2wd            4534
minicompact cars                       2584
minivan - 4wd                          2384
small pickup trucks 4wd                1373
special purpose vehicle 2wd             886
midsize station wagons                  294
standard sport utility vehicle 4wd      293
special purpose vehicles                200
vans                                    101
midsize-large station wagons             46
special purpose vehicle 4wd              30
standard sport utility vehicle 2wd       29
small pickup trucks                      17
vans, passenger type                      6
small pickup trucks 2wd                   1
Name: VClass, dtype: int64

In [24]:
train_data['size'].value_counts()

full-size      268301
mid-size       168567
compact         77399
sub-compact      4730
Name: size, dtype: int64

Let's drop 'size' because 'VClass' replace it.

In [25]:
train_data.drop(['size'], axis = 1, inplace=True)

In [26]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 518997 entries, 0 to 546027
Data columns (total 19 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         518997 non-null  int64
 1   year          518997 non-null  int64
 2   manufacturer  518997 non-null  object
 3   make          518997 non-null  object
 4   cylinders     518997 non-null  int64
 5   fuel          518997 non-null  object
 6   odometer      518997 non-null  int64
 7   title_status  518997 non-null  object
 8   transmission  518997 non-null  object
 9   drive         518997 non-null  object
 10  weather       518997 non-null  int32
 11  city          518997 non-null  object
 12  state         518997 non-null  object
 13  VClass        518997 non-null  object
 14  youSaveSpend  518997 non-null  int32
 15  usage_yr      518997 non-null  int64
 16  state_code    518997 non-null  object
 17  region        518997 non-null  object
 18  division      518997 non-null  object
dtypes: int32(2), int64(5), object(12)
memory usage: 75.2+ MB

Let's make the dataset lighter in order to run within a limited time constraint.

In [27]:
train_data.drop(['division'], axis = 1, inplace=True)
train_data.drop(['state_code'], axis = 1, inplace=True)
train_data.drop(['state'], axis = 1, inplace=True)
train_data.drop(['city'], axis = 1, inplace=True)
train_data.drop(['manufacturer'], axis = 1, inplace=True)
train_data.drop(['make'], axis = 1, inplace=True)

In [28]:
one_hot_encoded_training_predictors = pd.get_dummies(train_data, columns=['fuel','title_status','transmission','drive',
                                                   'VClass','region'])

In [29]:
target = one_hot_encoded_training_predictors['price'].values

In [30]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor

def get_mae(X, y):
    # multiple by -1 to make positive MAE score instead of neg value returned as sklearn convention
    return -1 * cross_val_score(RandomForestRegressor(50), 
                                X, y, 
                                scoring = 'neg_mean_absolute_error').mean()

predictors_without_categoricals = train_data.select_dtypes(exclude=['object'])

mae_without_categoricals = get_mae(predictors_without_categoricals, target)

mae_one_hot_encoded = get_mae(one_hot_encoded_training_predictors, target)

print('Mean Absolute Error when Dropping Categoricals: ' + str(int(mae_without_categoricals)))
print('Mean Abslute Error with One-Hot Encoding: ' + str(int(mae_one_hot_encoded)))

Mean Absolute Error when Dropping Categoricals: 3242
Mean Abslute Error with One-Hot Encoding: 3467

# k-Nearest Neighborhood Algorithm

In [32]:
from sklearn import neighbors
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

In [33]:
X = one_hot_encoded_training_predictors
y = target

In [34]:
clf = neighbors.KNeighborsClassifier(5)
clf.fit(X,y)

KNeighborsClassifier()

In [35]:
y_pred=clf.predict(X)

In [36]:
from sklearn.metrics import confusion_matrix

In [37]:
confusion_matrix(y,y_pred)

array([[2031,    0,    0, ...,    0,    0,    0],
       [  30,    4,    0, ...,    0,    0,    0],
       [  20,    1,    6, ...,    0,    0,    0],
       ...,
       [   0,    0,    0, ...,    0,    0,    0],
       [   0,    0,    0, ...,    1,    0,    0],
       [   0,    0,    0, ...,    1,    0,    0]], dtype=int64)

Let's find optimal k value by using Cross-validation.

In [38]:
from sklearn.model_selection import cross_val_score

In [ ]:
k_range = range(1,100)
k_scores= []

for k in k_range:
    knn=neighbors.KNeighborsClassifier(k)
    scores=cross_val_score(knn,X,y,cv=10,scoring="accuracy")
    k_scores.append(scores.mean())

C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)

C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\danie\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)

In [ ]:
plt.plot(k_range, k_scores)
plt.xlabel('Value of K for KNN')
plt.ylabel('Cross-validated accuracy')
plt.show()

kNN with some weighted

In [ ]:
n_neighbors = 40

h = .02  # step size in the mesh

cmap_light = ListedColormap(['#FFAAAA', '#AAFFAA', '#AAAAFF'])
cmap_bold = ListedColormap(['#FF0000', '#00FF00', '#0000FF'])

for weights in ['uniform', 'distance']:
    clf = neighbors.KNeighborsClassifier(n_neighbors, weights=weights)
    clf.fit(X, y)

    # Plot the decision boundary. For that, we will assign a color to each
    # point in the mesh [x_min, x_max]x[y_min, y_max].
    x_min, x_max = X[:, 0].min() - 1, X[:, 0].max() + 1
    y_min, y_max = X[:, 1].min() - 1, X[:, 1].max() + 1
    xx, yy = np.meshgrid(np.arange(x_min, x_max, h),
                         np.arange(y_min, y_max, h))
    Z = clf.predict(np.c_[xx.ravel(), yy.ravel()])

    # Put the result into a color plot
    Z = Z.reshape(xx.shape)
    plt.figure()
    plt.pcolormesh(xx, yy, Z, cmap=cmap_light)

    # Plot also the training points
    plt.scatter(X[:, 0], X[:, 1], c=y, cmap=cmap_bold,
                edgecolor='k', s=20)
    plt.xlim(xx.min(), xx.max())
    plt.ylim(yy.min(), yy.max())
    plt.title("3-Class classification (k = %i, weights = '%s')"
              % (n_neighbors, weights))

plt.show()

In [ ]:
np.random.seed(0)
X = np.sort(5 * np.random.rand(40, 1), axis=0)
T = np.linspace(0, 5, 500)[:, np.newaxis]
y = np.sin(X).ravel()
y[::5] += 1 * (0.5 - np.random.rand(8))

In [ ]:
knn = neighbors.KNeighborsRegressor(n_neighbors)
y_ = knn.fit(X, y).predict(T)

In [ ]:
n_neighbors = 5

for i, weights in enumerate(['uniform', 'distance']):
    knn = neighbors.KNeighborsRegressor(n_neighbors, weights=weights)
    y_ = knn.fit(X, y).predict(T)

    plt.subplot(2, 1, i + 1)
    plt.scatter(X, y, c='k', label='data')
    plt.plot(T, y_, c='g', label='prediction')
    plt.axis('tight')
    plt.legend()
    plt.title("KNeighborsRegressor (k = %i, weights = '%s')" % (n_neighbors,
                                                                weights))

plt.tight_layout()
plt.show()